@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

:root {
  --bg-feed: rgba(18, 21, 28, 0.8);
  --text-feed: #fff;
  --title-gradient-start: #fff;

  --card-bg: rgba(255, 255, 255, 0.03);
  --card-border: rgba(255, 255, 255, 0.08);
  --card-border-hover: rgba(0, 255, 255, 0.3);
  --card-text: #e4e6eb;
  --card-author: rgba(255, 255, 255, 0.4);
  --card-shadow-hover: rgba(0, 255, 255, 0.1);
}

.lightTheme {
  --bg-feed: #f6f7f9;
  --text-feed: #1c1e21;
  --title-gradient-start: #1c1e21;

  --card-bg: #ffffff;
  --card-border: rgba(0, 0, 0, 0.08);
  --card-border-hover: #00ffff;
  --card-text: #242526;
  --card-author: rgba(0, 0, 0, 0.45);
  --card-shadow-hover: rgba(0, 0, 0, 0.08);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: aliceblue;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
